<section class="main_container_block_one">
    <header class="main__container__header">
        <div class="header__container container">
            <div class="container__logo">
                <img src="../assets/images/LOGO.png" alt="Logo">
            </div>
            <nav class="container__menu">
                <ul class="menu__link_list">
                    <li class="link_list__item_list">
                        <a (click)="Skroll(why)">Почему у нас</a>
                    </li>
                    <li class="link_list__item_list">
                        <a (click)="Skroll(products)">Меню бургеров</a>
                    </li>
                    <li class="link_list__item_list">
                        <a (click)="Skroll(order)">Оформление заказа</a>
                    </li>
                </ul>
            </nav>
            <div class="container__currency" title="Изменить валюту" id="currency" (click)="changeCurrency()">{{currency}}</div>
        </div>
    </header>

    <div class="main_container__main">
        <div class="main__main_container container">
            <div class="container__main_info">
                <span class="main_info__box_text">Новое меню</span>
                <h1 class="main_info__main_title">Бургер чедер</h1>
                <p class="main_info__main_text">
                    Мы обновили наше меню, спешите попробовать сезонные
                    новинки и насладиться отличным вкусом наших бургеров.
                    Готовим для вас лучшие бургеры в городе из отборной
                    мраморной говядины
                </p>
                <div class="main_info__button_box">
                    <button class="button_box__button button" id="main-action-button"
                        (click)="Skroll(products)">Смотреть меню</button>
                </div>
            </div>
            <img src="../assets/images/main_burger.png" alt="Burger" class="container__img_burger">
        </div>
    </div>
</section>
<section class="main_container_block_two" id="why" #why>
    <div class="main_container_block_two__container container">
        <h2 class="container__title_h2">Почему нас выбирают?</h2>
        <div class="container__box_items">
            <div class="box_items__item">
                <img class="item__image" src="../assets/images/burger.png" alt="Burger">
                <h3 class="item__title_h3">Авторские рецепты</h3>
                <p class="item__text_p">
                    Наши бургеры обладают уникальным сочетанием вкусов
                    и не похожи ни на какие другие. Мы тщательно
                    отбираем лучшие ингредиенты и сочетания вкусов для
                    нашего меню.
                </p>
            </div>
            <div class="box_items__item">
                <img class="item__image" src="../assets/images/meat.png" alt="Meat">
                <h3 class="item__title_h3">Мраморная говядина</h3>
                <p class="item__text_p">
                    Для наших бургеров мы используем отборную 100%
                    мраморную говядину, которую закупаем
                    исключительно у фермеров. Мы уверены в 
                    качестве нашего мяса.
                </p>
            </div>
            <div class="box_items__item">
                <img class="item__image" src="../assets/images/food truck.png" alt="Car">
                <h3 class="item__title_h3">Быстрая доставка</h3>
                <p class="item__text_p">
                    Мы доставляем в пределах МКАД за 30 минут, а если
                    не успеем — доставка бесплатно. Мы тщательно
                    упаковываем наши бургеры, чтобы по дороге они
                    не остыли.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="main_container_block_three" id="products" #products>
    <div class="main_container_block_three__container container">
        <h2 class="container__title_h2">выберите свой бургер</h2>
        <div class="container__box_cards">
            <div class="box_cards__card" *ngFor="let product of productsData">
                <img class="card__image_burger" src="../assets/images/{{product.img}}" alt="burger">
                <div class="box">
                    <h3 class="card__title_h3">{{product.title}}</h3>
                    <p class="card__p">
                        {{product.text}}
                    </p>
                    <div class="card__box_order">
                        <div class="box_titles">
                            <h4 class="box_order__title_h4" data-base-price="8">{{product.price}} {{currency}}</h4>
                            <h5 class="box_order__title_h5">{{product.grams}} гр</h5>
                        </div>
                        <button class="button box_order__button_order" (click)="Skroll(order, product)">
                            <span>Заказать</span>
                            <img src="../assets/images/Vector.png" alt="Cart">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main_container_block_four" id="order" #order>
    <div class="main_container_block_four_container container">
        <h2 class="container__title_h2">оформление заказа</h2>
        <img class="image_box" src="../assets/images/order_image.png" alt="Background">
        <form action="" class="container__form" [formGroup]="form">
            <h3 class="form__title_h3">
                Заполните все данные и наш менеджер
                свяжется с вами для подтверждения заказа
            </h3>
            <div class="box_input" [class.error]="form.invalid && (form.dirty || form.touched)">
                <input class="form__input" type="text" placeholder="Выберите товар из списка" id="burger" formControlName="order" readonly>
            </div>
            <div class="box_input" [class.error]="form.invalid && (form.dirty || form.touched)">
                <input class="form__input" type="text" placeholder="Ваше имя" id="name" formControlName="name">
            </div>
            <div class="box_input" [class.error]="form.invalid && (form.dirty || form.touched)">
                <input class="form__input" type="text" placeholder="Ваш телефон" id="phone" formControlName="phone">
            </div>
            <button class="form__button button" id="order-button" (click)="ConfirmOrder()" [disabled]="!form.valid">Оформить заказ</button>
        </form>
    </div>
</section>
<section class="main_container_block_five">
    <footer class="footer">
        <div class="footer__container container">
            <img src="../assets/images/LOGO.png" alt="Logo">
            <h5>Все права защизены</h5>
        </div>
    </footer>
</section>