.main_container_block_four {
    padding-bottom: 180px;
    background: url(../images/order_bg.png) no-repeat;
    background-position: top center;
    overflow: hidden;
}

.main_container_block_four_container{
    position: relative;
}

.container__form {
    position: relative;
    left: 675px;
    width: 424px;
    height: 555px;
    border: 1px solid rgb(53, 53, 53);
    border-radius: 16px;
    background: rgb(33, 26, 22);
    padding: 60px 40px;
    display: grid;
    place-items: center;
    margin-top: 60px;
}

.container__title_h2 {
    font-size: 64px;
}

.image_box{
    position: absolute;
    top: 0;
    right: calc(100% - 754px);
    z-index: -1;
}

.box_input{
    width: 344px;
    height: 62px;
    position: relative;
    display: grid;
    place-items: center;
    border-radius: 8px;
    background: linear-gradient(135.00deg, rgb(218, 128, 35) 0%,rgb(226, 180, 56) 100%);
}

.form__input {
    width: 99%;
    height: 97%;
    padding: 16px 10px 16px 10px;
    border-radius: 8px;
    background: rgb(33, 26, 22);
    border: 0;
    color: white;
    font-size: 16px;
}

.form__button{
    width: 344px;
    height: 62px;
    border-radius: 8px;
    padding: 19px 50px;
    background: linear-gradient(135.00deg, rgb(218, 128, 35) 0%,rgb(255, 187, 1) 100%);
    font-size: 18px;
}